<html>
    <head>
        <title>Movie App</title>
        <link rel="stylesheet" href="/stylesheets/search.css">
    </head>
    <body>
        
        <h1 class="title">Search Your CITY Here</h1>
        <form action="/results" method="GET">
            <input type="text" name="search" id="ser" placeholder="Enter Yoyr City Name..">
            <button type="submit">Search</button>
        </form>
    </body>
</html>